footer {
    border-top: 1px solid rgba(238, 238, 238, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 128px;
    padding-right: 360px;
    padding-bottom: 127px;
    padding-left: 360px;
    border-top-width: 1px;
    margin-top: 100px;
}

.footer_content {
    display: flex;
    flex-direction: row;
    width: 1100px;
    column-gap: 64px;
    padding-left: 32px;
    padding-right: 32px;
}

.footer_column {
    display: flex;
    flex-direction: column;
}

.img_box {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.footer_column {
    color: rgba(118, 118, 118, 1);
    font-family: Rubik;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 22.4px;
    letter-spacing: 0%;
    vertical-align: middle;
    width: 210px;
    height: 210px;
    justify-content: space-between;
}

.footer_column h3 {
    margin: 0px;
    color: rgba(85, 85, 85, 1);
    font-family: Rubik;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;

}