section.sources {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}
section.sources h2 {
    text-transform: uppercase;
    font-family: rubik;
    opacity: 80%;
    font-weight: 600;
    font-size: 16px;
    color: #555555;
    letter-spacing: 0.75px;
}
.source_img {
    width: 200px;
    height: 60px;
    padding: 0px 25px;
    opacity: 70%;
    margin-top: 25px;
}