div.step {
    display: flex;
    margin-top: 20px;
}
div.text {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-right: 200px;
}

div.text h2 {
    font-family: rubik;
opacity: 80%;
    font-weight: 600;
    font-size: 60px;
    letter-spacing: 0%;
    color: #DDDDDD;
    margin: 0;
}
div.text h3 {
    font-family: rubik;
opacity: 80%;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.5px;
    margin: 0;
}
div.text p {
    font-family: rubik;
opacity: 80%;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0%;
    line-height: 30px;
    color: #555555;
}
div.step.reverse {
    flex-direction:row-reverse;
}
div.step.reverse div.text {
    margin-left: 120px;
}
.phone_img::before,
.phone_img::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.phone_img::before {
    width: 250px;
    height: 250px;
    background-color: #fdf2e9;
    z-index: -2;
    margin: 150px 0px 0px 70px;
}

.phone_img::after {
    width: 200px;
    height: 200px;
    background-color: #fae0c9;
    z-index: -1;
    position: relative;
    top: -150px;
    left: 70px;
}